# Ignore data folders
creation_logs/
Logs/
Data/
outputs/
multirun/

# Ignore potentially large files
*.fits
*.tar.gz

# Ignore build files
build/
dist/
*.egg-info/

# Ignore local system files
.vscode/
*/__pycache__/
__pycache__/
.DS_Store
*/.DS_Store

junk.py
junk*.py
junk.ipynb
junk*.ipynb

loss_records.csv